#main-demo{
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}
#main-demo-containter{
    height: 600px;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(0,0,0,.3);
}
.mdl-navigation__link>i {
  color: rgba(0,0,0,0.5);
  padding-right: 10px;
}

.about-text{
Padding-left:12px;
}


body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #00796B;
  color: #fff;
}

::selection {
  background-color: #00796B;
  color: #fff;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFENkCyK-g585_rLYFA1kwA-oBVXsXfphXrH1ifBbfqObwz1Alyj_B-9YsA') center/cover;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFENkCyK-g585_rLYFA1kwA-oBVXsXfphXrH1ifBbfqObwz1Alyj_B-9YsA') center/cover;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFENkCyK-g585_rLYFA1kwA-oBVXsXfphXrH1ifBbfqObwz1Alyj_B-9YsA') center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFENkCyK-g585_rLYFA1kwA-oBVXsXfphXrH1ifBbfqObwz1Alyj_B-9YsA') center/cover;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFENkCyK-g585_rLYFA1kwA-oBVXsXfphXrH1ifBbfqObwz1Alyj_B-9YsA') center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFENkCyK-g585_rLYFA1kwA-oBVXsXfphXrH1ifBbfqObwz1Alyj_B-9YsA') center/cover;
  color: #fff;
}

.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
