<div id="home-area">
    <div class="overlay">
        <div class="container">
            <div class="row">

                <!-- HOME CONTENT -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                        <h1>Easybasic</h1>
                        <p>Presenting BASIC in a <strong>Modren</strong> way, with all of its old powers.</p>
                        <button md-raised-button style="color: #333;">Download</button>
                    </div>
                </div>
                <!-- END HOME CONTENT -->

                <!-- HOME FEATURE IMAGE -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="home-feature pull-right center-block wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                        <img class="img-responsive" src="./../../../assets/img/snap.png" alt="">
                    </div>
                </div>
                <!-- END HOME FEATURE IMAGE -->

            </div>
        </div>
    </div>
</div>