<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Easybasic IDE</h2>
                <p>An advanced IDE for writting BASIC scripts, executing, debugging, compiling and much more. With a modren and atractive design.</p>
                <p>
                    <span><i class="fa fa-code"></i></span> Development Inprogress<br> Check on
                    <a href="https://github.com/naumanumer/easybasic" target="_blank">github</a>
                </p>
                <button md-raised-button class="pull-right" style="margin-top: 17px;margin-right: 33px;">Learn More</button>
            </div>
            <div class="col-md-6">
                <img src="./../../../assets/img/IDE.png" class="img-responsive" alt="IDE Image">
            </div>
        </div>
    </div>
</section>

<section class="feature1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="./../../../assets/img/shell.png" class="img-responsive" alt="Shell Image">
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase">Easybasic Shell</h2>
                <p>Shell for executing BASIC scripts. It supports multiple sessions at time and execute BASIC scripts by compiling first.</p>
                <p>
                    <span><i class="fa fa-code"></i></span> Development Inprogress<br> Check on
                    <a href="https://github.com/naumanumer/easybasic" target="_blank">github</a>
                </p>
                <button md-raised-button class="pull-right" style="margin-top: 17px;margin-right: 33px;">Learn More</button>
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Easybasic Help</h2>
                <p>Easybasic HElp provide a complete documentation about language, solution of known issues and also provide a feature to ask for an issue online.</p>
                <p>
                    <span><i class="fa fa-code"></i></span>Development Not started<br> Check on
                    <a href="https://github.com/naumanumer/easybasic" target="_blank">github</a>
                </p>
                <button md-raised-button class="pull-right" style="margin-top: 17px;margin-right: 33px;">Learn More</button>
            </div>
            <div class="col-md-6">
                <img src="./../../../assets/img/help.png" class="img-responsive" alt="Help Image">
            </div>
        </div>
    </div>
</section>

<section class="feature1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="./../../../assets/img/fileConverter.png" class="img-responsive" alt="fileConverter Image">
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase">Easybasic File Converter</h2>
                <p>Easybasic file converter provides a GUI based application to users to convert old basic programs from tokenised or proteced file format to plain text.</p>
                <p>
                    <span><i class="fa fa-code"></i></span> Development Almost complete<br> Check on
                    <a href="https://github.com/naumanumer/BASIC-detokeniser" target="_blank">github</a>
                </p>
                <button md-raised-button class="pull-right" style="margin-top: 17px;margin-right: 33px;">Learn More</button>
            </div>
        </div>
    </div>
</section>