<section id="newsletter" class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="newsletter-content wow fadeInDown" data-wow-duration="1s">
                    <h2>Like our Work? Stay Connected</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, optio.</p>
                </div>
                <div class="form-group wow fadeInUp" data-wow-duration="1s">
                    <input type="email" class="form-control" placeholder="Your Email Address">
                    <button md-raised-button type="submit" class="pull-right button newsletter">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>