<div class="tab-group">
  
  <div class="tab-item" *ngFor="let tab of tabs" [ngClass]="{'active': tab.active }" (click)="changeTab(tab)">
    <span *ngIf="tab.isCloseable && this.tabsService.tabs.length > 1" class="icon icon-cancel icon-close-tab" (click)="removeTab(tab)"></span>
    <!--<inline-edit [text]="tab.title" (edit)="changeTabTitle($event, tab)"></inline-edit>-->
    <span>{{ tab.title }}</span>
  </div>
  
  <div class="tab-item tab-item-fixed" (click)="newTab()">
    <span class="icon icon-plus"></span>
  </div>
</div>