#testimonial {
    background: #fff;
    border-bottom: 1px solid #efefef;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.single-testimonial {
    max-width: 500px;
    margin: 0 auto;
}

.single-testimonial img {
    max-width: 102px;
    max-height: 102px;
    border-radius: 100%;
    border: 2px solid #efefef;
}

.single-testimonial p {
    margin-top: 30px;
}

.social-networks {
    margin-top: 0px;
    margin-bottom: 30px;
}

.social-networks a {
    display: inline-block;
    border: 1px solid #24C0D9;
    border-radius: 50%;
    background: #FFFFFF;
    margin: 3px;
    padding: 14px 20px 15px 18px;
    width: 50px;
    height: 50px;
}

.social-networks a:hover {
    background: #24C0D9;
    border: 1px solid #24C0D9;
    color: #fff;
}

.testimonial {
    background: #24C0D9;
    color: #fff;
    margin-top: 20px;
}

.testimonial:hover {
    color: #fff;
}