<section id="testimonial" class="section text-center">
    <h2 class="section-title">Testimonial</h2>
    <div class="container">

        <!-- TESTIMONIAL SLIDER -->
        <div id="owl-demo" class="owl-carousel owl-theme">

            <!-- SINGLE TESTIMONIAL -->
            <div class="item">
                <div class="single-testimonial">
                    <img class="center-block wow fadeInDown" data-wow-duration="1s" src="img/client.png" alt="Testimoinial">
                    <p class="wow fadeInDown" data-wow-duration="1s">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui velit modi quasi ut placeat, id cum architecto cumque consequatur rem.
                    </p>
                    <div class="social-networks wow fadeInDown" data-wow-duration="1s">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!-- END SINGLE TESTIMONIAL -->

            <!-- SINGLE TESTIMONIAL -->
            <div class="item">
                <div class="single-testimonial">
                    <img class="center-block wow fadeInDown" data-wow-duration="1s" src="img/client2.png" alt="Testimoinial">
                    <p class="wow fadeInDown" data-wow-duration="1s">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui velit modi quasi ut placeat, id cum architecto cumque consequatur rem.
                    </p>
                    <div class="social-networks wow fadeInDown" data-wow-duration="1s">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!-- END SINGLE TESTIMONIAL -->

            <!-- SINGLE TESTIMONIAL -->
            <div class="item">
                <div class="single-testimonial">
                    <img class="center-block wow fadeInDown" data-wow-duration="1s" src="img/client3.png" alt="Testimoinial">
                    <p class="wow fadeInDown" data-wow-duration="1s">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui velit modi quasi ut placeat, id cum architecto cumque consequatur rem.
                    </p>
                    <div class="social-networks wow fadeInDown" data-wow-duration="1s">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <!-- END SINGLE TESTIMONIAL -->

        </div>
        <!-- END TESTIMONIAL SLIDER -->

        <div class="testimonial-action wow fadeInUp" data-wow-duration="1s">
            <a class="button testimonial" href="#">Read More</a>
        </div>

    </div>
    <!--/.container -->
</section>