<div class="window__titlebar">
      <div class="window__controls window__controls--left">
        <!--<a class="window__icon" href="#"><i class="fa fa-folder"></i></a>
        <a class="window__menutoggle" href="#"><i class="fa fa-bars"></i></a>-->
      </div>
      
      
      
      <span class="window__title">
        File Explorer
      </span>
      
      <div class="window__controls window__controls--right">
        <a class="window__minimize" href="#"><i class="icon icon-minus"></i></a>
        <a class="window__maximize" href="#"><i class="icon icon-popup"></i></a>
        <a class="window__close" href="#"><i class="icon icon-cancel"></i></a>
      </div>
    </div>