<div class="window">

  <title-bar></title-bar>

  <div class="window-content">
    <div class="welcomePageContainer">
      <div class="welcomePage">
        <div class="row">
          <div class="splash">
            <div class="section start">
              <h2>Start</h2>
              <ul>
                <li><a href="command:workbench.action.files.openFileFolder">New file</a></li>
                <li><a href="command:workbench.action.files.openFolder">Open file</a></li>
                <li><a href="command:workbench.action.files.openFolder">Open terminal</a></li>
                <li><a href="command:workbench.action.files.openFolder">Open help</a></li>
              </ul>
            </div>
            <div class="section recent">
              <h2>Recent</h2>
              <ul class="list">
                <!-- Filled programmatically -->
                <li>
                  <a title="D:\Projects\Easy Basic\2nd attempt" href="javascript:void(0)">2nd attempt</a>
                  <span class="path" title="D:\Projects\Easy Basic\2nd attempt">D:\Projects\Easy Basic</span>
                </li>
              </ul>
            </div>
            <div class="section help">
              <h2>Web Resources</h2>
              <ul>
                <li><a href="command:workbench.action.openDocumentationUrl">View blog</a></li>
                <li><a href="command:workbench.action.openDocumentationUrl">Open an issuse</a></li>
                <li><a href="command:workbench.action.openDocumentationUrl">Ask a question</a></li>
                <li><a href="https://github.com/Microsoft/vscode">GitHub repository</a></li>
              </ul>
            </div>
            <div class="showOnStartup">
              <md-checkbox>Always open IDE on startup.</md-checkbox>
            </div>
          </div>
          <div class="commands">
            <h2>Quick links</h2>
            <ul>
              <li><button data-href="command:workbench.action.showInteractivePlayground"><h3>Interactive playground</h3> <span>Try essential editor features out in a short walkthrough</span></button></li>
              <li><button data-href="command:workbench.action.showInterfaceOverview"><h3>Interface overview</h3> <span>Get a visual overlay highlighting the major components of the UI</span></button></li>
              <li><button data-href="command:workbench.action.selectTheme"><h3>Color theme</h3> <span>Make the editor and your code look the way you love</span></button></li>
              <li><button data-href="command:workbench.action.keybindingsReference"><h3>Keyboard shortcuts</h3> <span>A printable PDF with the most common keyboard shortcuts</span></button></li>
              <li><button data-href="command:workbench.action.showCommands"><h3>Show all commands</h3> <span>Rapidly access and search commands from the control panel (<span class="shortcut" data-command="workbench.action.showCommands">Ctrl+Shift+P</span>)</span></button></li>
              <li><button data-href="command:workbench.action.openGlobalSettings"><h3>Configure settings</h3> <span>Unlock the full power of VS Code by tweaking the settings</span></button></li>
              <li><button data-href="command:workbench.extensions.action.showRecommendedKeymapExtensions"><h3>Change Default Keyboard Shortcuts</h3> <span>Install an extension to adopt the keyboard shortcuts from another tool</span></button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>