#get-trial {
    background: #34495E;
    padding: 120px 0;
}

#get-trial h4 {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 20px;
}

.get-trial {
    background: #24C0D9;
    border: none;
    color: #fff;
}

.get-trial:hover {
    background: #fff;
    color: #222;
}