<div class="window__titlebar">
    <div class="window__controls window__controls--left">
    </div>

    <span class="window__title">Easybasic - IDE</span>

    <div class="window__controls window__controls--right">
        <span class="window__minimize" (click)="minimizeWindow()"><i class="icon icon-minus"></i></span>
        <span class="window__maximize" (click)="maximizeWindow()"><i class="icon icon-popup"></i></span>
        <span class="window__close" (click)="closeWindow()"><i class="icon icon-cancel"></i></span>
    </div>
</div>