td {
    width: 7px!important;
    height: 15px;
    font-family: freedos;
    font-size: 16px;
    line-height: 0;
    border-collapse: collapse;
    overflow: hidden;
    opacity: .85;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 0;
    all: initial;
    all: unset;
    position: absolute;
    overflow: hidden;
}

td:last-child {
    padding-right: 3px!important;
}

td:first-child {
    padding-left: 3px!important;
}

.cursor {
    font-weight: 100;
    font-size: 14px;
    position: absolute;
    margin-left: -8px;
    margin-top: 1px;
    opacity: 1;
    -webkit-animation: blink .3s linear 0s infinite;
}

.blink{
    -webkit-animation: blink 1s linear 0s infinite;
    transition: opacity 1s linear;
}

@-webkit-keyframes blink {
  0%   { opacity: 1 }
  47%  { opacity: 1 }
  50%  { opacity: 0 }
  97%  { opacity: 0 }
  100% { opacity: 1 }
}
canvas{
    position: absolute;
    height: 375px;
    pointer-events: none;
}