<div>
    <table>
        <tbody>

            <tr *ngFor="let row of consoleData" [id]="'line-'+row.id">
                <td *ngFor="let cell of row.data" [id]="'col-'+cell.id"
                    [style.color]='getForecolor({row:row.id, cell: cell.id})'
                    [style.background]='getBackcolor({row:row.id, cell: cell.id})'
                    [style.padding.px]="'0'">
                    <span [ngClass]="{'blink': cell.isBlinkingColor }">{{ cell.text }}</span>
                    <span class="cursor" *ngIf="this.consoleService.showCaret && this.consoleService.currentPos.cell == cell.id && this.consoleService.currentPos.row == row.id">{{ caretText }}</span>
                </td>
            </tr>

        </tbody>
    </table>
</div>