.custom .monaco-workbench .action-bar-select {
    background-color: #fff;
    border-color: #cecece
}
.custom .monaco-findInput>.controls>.matchCount {
    background: #ddd
}
.custom .monaco-findInput>.controls>.custom-checkbox.case-sensitive {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cstyle%3E.st0{opacity:0}.st0,.st1{fill:%23f6f6f6}.st2{fill:%23424242}%3C/style%3E%3Cg id='outline'%3E%3Cpath class='st0' d='M0 0h16v16H0z'/%3E%3Cpath class='st1' d='M14.176 5.592c-.555-.6-1.336-.904-2.322-.904-.258 0-.521.024-.784.072a5.924 5.924 0 0 0-.7.169 5.15 5.15 0 0 0-.613.229 3.02 3.02 0 0 0-.512.284l-.419.299v2.701a2.477 2.477 0 0 0-.229.344l-2.45-6.354H3.753L0 12.236v.598h3.025l.838-2.35H6.03l.891 2.35h3.237l-.001-.003c.305.092.633.15.993.15.344 0 .671-.049.978-.146h2.853V7.932c-.001-.975-.271-1.763-.805-2.34z'/%3E%3C/g%3E%3Cg id='icon_x5F_bg'%3E%3Cpath class='st2' d='M7.611 11.834l-.891-2.35H3.158l-.838 2.35H1.225l3.217-8.402h1.02l3.24 8.402H7.611zM5.08 5.02l-.044-.135-.038-.156-.029-.152-.024-.126h-.023l-.021.126-.032.152-.038.156-.044.135L3.48 8.594h2.918L5.08 5.02zM13.02 11.834v-.938h-.023c-.199.352-.456.62-.771.806s-.673.278-1.075.278c-.313 0-.588-.045-.826-.135s-.438-.212-.598-.366-.281-.338-.363-.551-.124-.442-.124-.688c0-.262.039-.502.117-.721s.198-.412.36-.58.367-.308.615-.419.544-.19.888-.237l1.811-.252c0-.273-.029-.507-.088-.7s-.143-.351-.252-.472-.241-.21-.396-.267-.325-.085-.513-.085c-.363 0-.714.064-1.052.193s-.638.31-.904.54v-.984c.082-.059.196-.121.343-.188s.312-.128.495-.185.378-.104.583-.141.407-.056.606-.056c.699 0 1.229.194 1.588.583s.539.942.539 1.661v3.902h-.96zm-1.454-2.83c-.273.035-.498.085-.674.149s-.313.144-.41.237-.165.205-.202.334-.055.276-.055.44c0 .141.025.271.076.393s.124.227.22.316.215.16.357.211.308.076.495.076c.242 0 .465-.045.668-.135s.378-.214.524-.372.261-.344.343-.557.123-.442.123-.688v-.609l-1.465.205z'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat
}
.custom .monaco-findInput>.controls>.custom-checkbox.whole-word {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cstyle%3E.st0{opacity:0}.st0,.st1{fill:%23f6f6f6}.st2{fill:%23424242}%3C/style%3E%3Cg id='outline'%3E%3Cpath class='st0' d='M0 0h16v16H0z'/%3E%3Cpath class='st1' d='M16 4.022V1H-.014v3.022h3.046l-3.043 7.945h-.004v.01L0 13h-.014v1.991H16v-3.023h-1V4.022h1zm-5.914 5.301c0 .233-.023.441-.066.595a.86.86 0 0 1-.127.284l-.078.069-.151.026-.115-.017-.139-.137a1.774 1.774 0 0 1-.112-.566c0-.254.091-.561.126-.656l.069-.141.109-.082.178-.027c.077 0 .117.014.177.056l.087.179.051.237-.009.18zM6.391 4.022v2.893L5.275 4.022h1.116zm-3.026 7.02h1.573l.351.926H3.035l.33-.926zM12 6.688c-.206-.2-.431-.38-.695-.512a3.006 3.006 0 0 0-1.355-.298c-.215 0-.423.02-.621.058V4.022H12v2.666z'/%3E%3C/g%3E%3Cg id='icon_x5F_bg'%3E%3Cpath class='st2' d='M13 4h1v8h-1zM11.225 8.387c-.078-.299-.199-.562-.36-.786s-.365-.401-.609-.53-.534-.193-.866-.193c-.198 0-.38.024-.547.073a1.76 1.76 0 0 0-.453.205 1.724 1.724 0 0 0-.365.318l-.179.258V4.578h-.893V12h.893v-.575l.126.175c.087.102.189.19.304.269.117.078.249.14.398.186.149.046.314.068.498.068.353 0 .666-.071.937-.212.272-.143.499-.338.682-.586.183-.25.321-.543.414-.879.093-.338.14-.703.14-1.097a3.756 3.756 0 0 0-.12-.962zM9.746 7.78c.151.071.282.176.39.314.109.14.194.313.255.517.051.174.082.371.089.587l-.007.125c0 .327-.033.62-.1.869a1.886 1.886 0 0 1-.278.614c-.117.162-.26.285-.421.366-.322.162-.76.166-1.069.015a1.264 1.264 0 0 1-.393-.296 1.273 1.273 0 0 1-.218-.367s-.179-.447-.179-.947c0-.5.179-1.002.179-1.002.062-.177.136-.318.224-.43.114-.143.256-.259.424-.345.168-.086.365-.129.587-.129.19 0 .364.037.517.109zM.987 2H15v1.023H.987zM.987 12.968H15v1.023H.987zM1.991 12.031L2.719 10h2.219l.778 2.031h1.082L4.313 4.873h-.941L.931 11.959l-.025.072h1.085zm1.827-5.609h.022l.914 2.753H2.913l.905-2.753z'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat
}
.custom .monaco-findInput>.controls>.custom-checkbox.regex {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23F6F6F6' d='M13.64 7.396l-1.471-4.498-1.463.863L11.087 2h-4.53l.379 1.762-1.463-.864L4 7.396l1.682.158-1.169 1.007.5.439H2v5h5v-3.253l.978.859.842-1.881.841 1.877 3.483-3.04-1.176-1.008z'/%3E%3Cg fill='%23424242'%3E%3Cpath d='M12.301 6.518l-2.772.262 2.086 1.788-1.594 1.392L8.82 7.278 7.619 9.96 6.036 8.568 8.111 6.78 5.34 6.518l.696-2.126 2.358 1.392L7.795 3h2.053l-.602 2.783 2.359-1.392.696 2.127zM3 10h3v3H3z'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat
}
.custom .monaco-findInput.disabled {
    background-color: #e1e1e1
}
.custom .monaco-scrollable-element>.scrollbar>.slider {
    background: hsla(0, 0%, 39%, .4)
}
.monaco-editor.custom .token.terminal {
    color: #e00000
}
.monaco-editor.custom .token.terminal.code1 {
    font-weight: 700
}
.monaco-editor.custom .token.variable {
    color: #018
}
.monaco-editor.custom .token.variable.predefined {
    color: #4864aa
}
.monaco-editor.custom .token.string.escape {
    color: #a31515
}
.monaco-editor.custom .token.comment {
    color: green
}
.monaco-editor.custom .token.comment.shebang {
    color: #929292
}
.monaco-editor.custom .token.literal {
    color: #000
}
.monaco-editor.custom .token.literal.string {
    color: #a31515
}
.monaco-editor.custom .token.literal.hex {
    color: #e07000
}
.monaco-editor.custom .token.number {
    color: #09885a
}
.monaco-editor.custom .token.number.hex {
    color: #3030c0
}
.monaco-editor.custom .token.number.octal {
    color: #204070
}
.monaco-editor.custom .token.number.binary {
    color: #e07070
}
.monaco-editor.custom .token.regexp {
    color: maroon
}
.monaco-editor.custom .token.delimiter {
    color: #000
}
.monaco-editor.custom .token.tag {
    color: maroon
}
.monaco-editor.custom .token.metatag {
    color: #e00000
}
.monaco-editor.custom .token.annotation {
    color: gray
}
.monaco-editor.custom .token.key {
    color: #863b00
}
.monaco-editor.custom .token.attribute.name {
    color: red
}
.monaco-editor.custom .token.attribute.value {
    color: #0451a5
}
.monaco-editor.custom .token.keyword.flow {
    color: #af00db
}
.monaco-editor.custom .token.metatag.php {
    font-weight: 700
}
.monaco-editor.custom .token.predefined.ruby {
    color: #00f
}
.monaco-editor.custom .token.emphasis {
    font-style: italic
}
.monaco-editor.custom .token.strong {
    font-weight: 700
}
.monaco-editor.custom .token.header {
    color: navy
}
.monaco-editor.custom .token.string.key {
    color: #a31515
}
.monaco-editor.custom .token.string.value,
.monaco-editor.custom .token.string.yaml {
    color: #0451a5
}
.monaco-editor.custom .token.type {
    color: teal
}
.monaco-editor.custom .token.identifier.method {
    color: #e07000
}
.monaco-editor.custom .token.string.sql {
    color: red
}
.monaco-editor.custom .token.predefined.sql {
    color: #f0f
}
.monaco-editor.custom .token.operator.sql {
    color: #789
}
.monaco-editor.custom .token.delimiter.html {
    color: #383838
}
.monaco-editor.custom .token.metatag.content.html {
    color: red
}
.monaco-editor.custom .token.metatag.html {
    color: gray
}
.monaco-editor.custom .token.attribute.name.html {
    color: red
}
.monaco-editor.custom .token.attribute.value.html,
.monaco-editor.custom .token.delimiter.xml,
.monaco-editor.custom .token.string.html {
    color: blue
}
.monaco-editor.custom .token.metatag.content.xml {
    color: red
}
.monaco-editor.custom .token.metatag.xml {
    color: gray
}
.monaco-editor.custom .token.attribute.name.xml {
    color: red
}
.monaco-editor.custom .token.attribute.value.xml {
    color: blue
}
.monaco-editor.custom .token.entity.ts {
    color: #000
}
.monaco-editor.custom .token.custom {
    color: #006400
}
.monaco-editor.custom .token.attribute.name.custom,
.monaco-editor.custom .token.comment.custom,
.monaco-editor.custom .token.tag.custom {
    color: #aeb9ae
}
.monaco-editor.custom .token.attribute.value.custom {
    color: #2c51cc
}
.monaco-editor.custom .token.delimiter.custom {
    color: #708870
}
.monaco-editor.custom .token.tag.class.jade,
.monaco-editor.custom .token.tag.id.jade {
    color: #4f76ac
}
.monaco-editor.custom .token.interpolation.delimiter.jade,
.monaco-editor.custom .token.interpolation.jade {
    color: #f0f
}
.monaco-editor.custom .token.builtin.function {
    color: #00f
}
.monaco-editor.custom .token.comment,
.monaco-editor.custom .token.comment.block,
.monaco-editor.custom .token.comment.block.documentation,
.monaco-editor.custom .token.comment.line {
    color: green
}
.monaco-editor.custom .token.constant {
    color: #d00
}
.monaco-editor.custom .token.constant.language {
    color: #00f
}
.monaco-editor.custom .token.constant.numeric {
    color: #09885a
}
.monaco-editor.custom .token.constant.numeric.hex {
    color: #3030c0
}
.monaco-editor.custom .token.constant.numeric.octal {
    color: #204070
}
.monaco-editor.custom .token.constant.numeric.binary {
    color: #e07070
}
.monaco-editor.custom .token.constant.regexp {
    color: #811f3f
}
.monaco-editor.custom .token.constant.rgb-value {
    color: #0451a5
}
.monaco-editor.custom .token.entity {
    color: #a31515
}
.monaco-editor.custom .token.entity.name,
.monaco-editor.custom .token.entity.name.tag {
    color: maroon
}
.monaco-editor.custom .token.entity.name.function {
    color: #444
}
.monaco-editor.custom .token.entity.name.class {
    color: #2b91af
}
.monaco-editor.custom .token.entity.name.selector,
.monaco-editor.custom .token.entity.other.selector {
    color: maroon
}
.monaco-editor.custom .token.entity.other.attribute-name {
    color: red
}
.monaco-editor.custom .token.entity.other.attribute-name.css {
    color: maroon
}
.monaco-editor.custom .token.annotation.storage.type,
.monaco-editor.custom .token.heritage.storage.type {
    color: #2b91af
}
.monaco-editor.custom .token.invalid {
    color: #cd3131
}
.monaco-editor.custom .token.markup.underline {
    text-decoration: underline
}
.monaco-editor.custom .token.markup.bold {
    font-weight: 700
}
.monaco-editor.custom .token.markup.heading {
    color: navy
}
.monaco-editor.custom .token.markup.italic {
    font-style: italic
}
.monaco-editor.custom .token.meta {
    color: #000
}
.monaco-editor.custom .token.meta.selector,
.monaco-editor.custom .token.meta.tag {
    color: maroon
}
.monaco-editor.custom .token.storage {
    color: gray
}
.monaco-editor.custom .token.storage.content {
    color: red
}
.monaco-editor.custom .token.storage.modifier,
.monaco-editor.custom .token.storage.type {
    color: #00f
}
.monaco-editor.custom .token.cast.storage.type,
.monaco-editor.custom .token.new.storage.type {
    color: #2b91af
}
.monaco-editor.custom .token.var.storage.type {
    color: #00f
}
.monaco-editor.custom .token.var.annotation.storage.type {
    color: #2b91af
}
.monaco-editor.custom .token.string {
    color: #a31515
}
.monaco-editor.custom .token.string.tag {
    color: blue
}
.monaco-editor.custom .token.string.quoted.variable {
    color: #018
}
.monaco-editor.custom .token.string.regexp {
    color: #811f3f
}
.monaco-editor.custom .token.support {
    color: maroon
}
.monaco-editor.custom .token.support.type {
    color: red
}
.monaco-editor.custom .token.support.type.json {
    color: #a31515
}
.monaco-editor.custom .token.support.property-value {
    color: #0451a5
}
.monaco-editor.custom .token.variable.parameter {
    color: #018
}
.monaco-editor.custom .token.variable.language {
    color: #4864aa
}
.monaco-editor.custom .token.keyword,
.monaco-editor.custom .token.keyword.control {
    color: #00f
}
.monaco-editor.custom .token.keyword.operator {
    color: #666
}
.monaco-editor.custom .token.keyword.operator.new {
    color: #00f
}
.monaco-editor.custom .token.keyword.other.unit {
    color: #09885a
}
.monaco-editor.custom .token.punctuation {
    color: #000
}
.monaco-editor.custom .token.punctuation.string {
    color: #a31515
}
.monaco-editor.custom .token.punctuation.string.quoted.variable {
    color: #018
}
.monaco-editor.custom .token.punctuation.string.regexp {
    color: #811f3f
}
.monaco-editor.custom .token.punctuation.tag {
    color: maroon
}
.monaco-editor.custom .token.punctuation.string.tag {
    color: blue
}
.monaco-editor.custom.focused .current-line {
    border: 2px solid #eee
}
.monaco-editor.custom .glyph-margin {
    background: #fff
}
.monaco-editor.custom .line-numbers {
    color: #2b91af
}
.monaco-editor.custom .view-overlays .selected-text {
    background: #e5ebf1
}
.monaco-editor.custom .view-overlays.focused .selected-text {
    background: #add6ff
}
.monaco-editor.custom .cursor {
    background: #000;
    border-color: #000;
    color: #fff
}
.monaco-diff-editor.custom .diffOverview {
    background: #f9f7f7
}
.monaco-scrollable-element.modified-in-monaco-diff-editor.custom .scrollbar {
    background: transparent
}
.monaco-editor.custom .lineHighlight {
    background: rgba(253, 255, 0, .2)
}
.monaco-editor.custom .redsquiggly {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 3' height='3' width='6'%3E%3Cg fill='%23F00'%3E%3Cpath d='M5.5 0l-3 3H1.1l3-3z'/%3E%3Cpath d='M4 0l2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/%3E%3C/g%3E%3C/svg%3E") repeat-x 0 100%
}
.monaco-editor.custom .greensquiggly {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='3' width='6'%3E%3Cg fill='%23080'%3E%3Cpath d='M5.5 0l-3 3H1.1l3-3z'/%3E%3Cpath d='M4 0l2 2V.6L5.4 0zM0 2l1 1h1.4L0 .6z'/%3E%3C/g%3E%3C/svg%3E") repeat-x 0 100%
}
.monaco-editor.custom .bracket-match {
    border: 1px solid #b9b9b9
}
.monaco-editor.custom .token {
    color: #000
}
.monaco-editor.custom .token.whitespace {
    color: rgba(51, 51, 51, .2)!important
}
.monaco-editor.custom .token.info-token {
    color: #316bcd
}
.monaco-editor.custom .token.warn-token {
    color: #cd9731
}
.monaco-editor.custom .token.error-token {
    color: #cd3131
}
.monaco-editor.custom .token.debug-token {
    color: purple
}
.monaco-editor.custom .lightbulp-glyph {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Cpath fill='%23F6F6F6' d='M13.5 4.2C13.1 2.1 10.8 0 9.3 0H6.7c-.4 0-.6.2-.6.2C4 .8 2.5 2.7 2.5 4.9c0 .5-.1 2.3 1.7 3.8.5.5 1.2 2 1.3 2.4v3.3L7.1 16h2l1.5-1.6V11c.1-.4.8-1.9 1.3-2.3 1.1-.9 1.5-1.9 1.6-2.7V4.2z'/%3E%3Cpath d='M6.5 12h3v1h-3zm1 3h1.1l.9-1h-3z' fill='%23848484'/%3E%3Cpath fill='%23fc0' d='M12.6 5c0-2.3-1.8-4.1-4.1-4.1-.1 0-1.4.1-1.4.1-2.1.3-3.7 2-3.7 4 0 .1-.2 1.6 1.4 3 .7.7 1.5 2.4 1.6 2.9l.1.1h3l.1-.2c.1-.5.9-2.2 1.6-2.9 1.6-1.3 1.4-2.8 1.4-2.9zm-3 1l-.5 3h-.6V6c1.1 0 .9-1 .9-1H6.5v.1c0 .2.1.9 1 .9v3H7l-.2-.7L6.5 6c-.7 0-.9-.4-1-.7v-.4c0-.8.9-.9.9-.9h3.1s1 .1 1 1c0 0 .1 1-.9 1z'/%3E%3Cpath fill='%23F0EFF1' d='M10.5 5c0-.9-1-1-1-1H6.4s-.9.1-.9.9v.4c0 .3.3.7.9.7l.4 2.3.2.7h.5V6c-1 0-1-.7-1-.9V5h3s.1 1-.9 1v3h.6l.5-3c.9 0 .8-1 .8-1z'/%3E%3C/svg%3E") 50% no-repeat;
    height: 16px;
    width: 16px
}
.monaco-editor.custom .new-snippet {
    background-color: rgba(10, 50, 150, .1)
}
.monaco-editor.custom .snippet-placeholder {
    background-color: rgba(10, 50, 100, .1)
}
.monaco-editor.custom .finish-snippet-placeholder {
    outline: 1px solid rgba(10, 50, 100, .5)
}

.monaco-editor.custom .selectionHighlight {
    background: rgba(173, 214, 255, .3)
}
.monaco-editor.custom .wordHighlight {
    background: rgba(87, 87, 87, .25)
}
.monaco-editor.custom .wordHighlightStrong {
    background: rgba(14, 99, 156, .25)
}




.monaco-editor .token.LineNums {
    color: #5576af;
}

.monaco-editor .token.comment {
    font-style: italic!important;
}

.monaco-editor .token.functions {
    color: #5d40d4;
}

.monaco-editor .token.operators {
    color: #bc4d2f;
}

.monaco-editor .token.TypeKeywords {
    color: #2d78c8;
}