<section id="contact" class="section text-center">
    <div class="container">
        <h2 class="section-title">Contact Us</h2>
        <div class="row">

            <!-- CONTACT FORM -->

            <div class="col-md-7 col-md-offset-1 text-left">
                <form action="https://formspree.io/easybasicorg@outlook.com" method="post" class="contact-form">
                    <div class="form-group">
                        <md-input-container style="width: 100%">
                            <input mdInput type="text" required class="form-control" placeholder="Name" name="Name">
                        </md-input-container>
                    </div>
                    <div class="form-group">
                        <md-input-container style="width: 100%">
                            <input mdInput type="email" required class="form-control" placeholder="Email" name="Email">
                        </md-input-container>
                    </div>
                    <div class="form-group">
                        <md-input-container style="width: 100%;">
                            <textarea style="height: 100px;" mdInput required class="form-control" rows="5" placeholder="Message" name="Message"></textarea>
                        </md-input-container>
                    </div>
                    <input md-raised-button type="submit" class="pull-left send-button button" value="Send">
                </form>
            </div>

            <!-- END CONTACT FORM -->

            <!-- CONTACT INFO -->
            <div class="col-md-3">
                <div class="contact-info text-left">
                    <h3>Get In Touch</h3>
                    <p><span><i class="fa fa-facebook"></i></span> <a href="https://www.facebook.com/EasyBasicIDE/" target="_blank">/EasybasicIDE</a></p>
                    <p><span><i class="fa fa-github"></i></span> <a href="https://github.com/naumanumer/easybasic" target="_blank">/Easybasic</a></p>
                    <p><span><i class="fa fa-envelope-o"></i></span> easybasicorg@outlook.com</p>
                </div>
            </div>
            <!-- END CONTACT INFO -->

        </div>
    </div>
</section>