.small-header {
    background: rgba(43, 191, 217, 0.90);
    color: #fff;
    margin-top: 71px;
    padding-bottom: 22px;
}

.small-header h1 {
    text-transform: capitalize;
    font-weight: 100;
    font-size: 4em;
}

.small-header p {
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    letter-spacing: .3px;
    line-height: 1em;
    margin: 30px 0;
    margin-bottom: 0px;
}