<footer>
    <div class="container">
        <div class="row">

            <!-- FOOTER MENU -->
            <div class="col-md-6">
                <div class="footer-menu">
                    <ul class="list-inline">
                        <li><a href="#">Home</a>
                        </li>
                        <li><a href="#">About</a>
                        </li>
                        <li><a href="#">Contact</a>
                        </li>
                        <li><a href="#">Portfolio</a>
                        </li>
                        <li><a href="#">Services</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER MENU -->

            <!-- FOOTER CONTENT -->
            <div class="col-md-6">
                <div class="footer-content text-right">
                    <p>
                        <i class="fa fa-lg fa-code"></i> with <i class="fa fa-lg fa-heart-o"></i> by Nauman Umer
                    </p>
                </div>
            </div>
            <!-- END FOOTER CONTENT -->

        </div>
        <!-- /.row -->
    </div>
    <!-- ./container -->
</footer>